* {
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f8fafc;
}

.active {
  background-color: #4a00ff;
  color: #ffffff;
  font-weight: bold;
}

.remove {
  background-color: white;
  border: 1px solid #e4e4e7;
  color: #64748b;
  font-weight: bold;
}

.green {
  border: 8px solid (#00a96e);
}
.purple {
  border: 8px solid (#a855f7);
}
